@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    margin: 0;
    margin-top: 0;
    background-color: rgb(243, 243, 243);
}

/* Parte superior */
.sup{
    position: fixed;
    width: 100%;
    height: 95px;
}
 /* Cabeçalho */
.cabeçalho{
    width: 100%;
    height: 60px;
    background-color: #008cff;
    display: flex;
    flex-direction: row;
}

/* Botão de menu */
.cabeçalho > #menu{
    width: 50px;
    height: 60px;
}

.cabeçalho > #menu > img{
    width: 28px;
    height: 28px;
    padding-top: 15px;
    padding-left: 12px;
}

.cabeçalho > #menu > img:hover{
    width: 30px;
    height: 30px;
    padding-top: 14px;
    padding-left: 11px;
}

/* Logo da página */
.cabeçalho > .logo{
    padding-left: 25px;
    padding-top: 5px;
}

/* Área de pesquisa */
.cabeçalho > .pesquisa{
    padding: 16px 200px;
    display: flex;
    vertical-align: middle;
}

/* Campo de pesquisa */
.cabeçalho > .pesquisa > input{
    width: 525px;
    height: 32px;
    border-style: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

/* Botão de pesquisa */
.cabeçalho > .pesquisa > .botao{
    display: flex;
    justify-content: center;
    width: 68px;
    height: 34px;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px rgb(168, 168, 168);
}

/* Imagem do botão de pesquisa */
.cabeçalho > .pesquisa > .botao > img{
    padding-top: 4px;
    width: 24px;
    height: 24px;
}

/* Parte geral do site */
.geral{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

/* Barra Lateral */
#barra-lateral{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50px;
    height: 100%;
    background-color: #020079;
    border-right: 1px solid #ffffff;
}

/*  */
#barra-lateral > #cont-barra-lateral > #inicio{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #inicio:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}

#barra-lateral > #cont-barra-lateral > #inicio > abbr > a > img{
    width: 25px;
    height: 25px;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: 7px;
}

#barra-lateral > #cont-barra-lateral > #inicio > abbr > a > p{
    margin: 15px 0px 0px 15px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #inicio > abbr > a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #inicio > abbr{
    text-decoration: none;
}


#barra-lateral > #cont-barra-lateral > #perfil > abbr > a > img{
    width: 28px;
    height: 25px;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: 7px;
}

#barra-lateral > #cont-barra-lateral > #perfil > abbr > a > p{
    margin: 15px 0px 0px 15px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #perfil > abbr > a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #perfil > abbr{
    text-decoration: none;
}

#barra-lateral > #cont-barra-lateral > #perfil{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #perfil:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}

#barra-lateral > #cont-barra-lateral > #streaming > abbr > a > img{
    width: 32px;
    height: 30px;
    padding-top: 8px;
    margin-left: 7px;
}

#barra-lateral > #cont-barra-lateral > #streaming > abbr > a > p{
    margin: 15px 0px 0px 15px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #streaming > abbr > a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #streaming > abbr{
    text-decoration: none;
}

#barra-lateral > #cont-barra-lateral > #streaming{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #streaming:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}


#barra-lateral > #cont-barra-lateral > #carrinho > abbr > a > img{
    width: 28px;
    height: 25px;
    padding-top: 7px;
    margin-left: 9px;
}


#barra-lateral > #cont-barra-lateral > #carrinho > abbr > a > p{
    margin: 13px 0px 0px 18px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #carrinho > abbr > a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #carrinho > abbr{
    text-decoration: none;
}

#barra-lateral > #cont-barra-lateral > #carrinho{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #carrinho:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}

#barra-lateral > #cont-barra-lateral > #categ > abbr > a > img{
    width: 28px;
    height: 25px;
    padding-top: 7px;
    margin-left: 11px;
}

#barra-lateral > #cont-barra-lateral > #categ > abbr > a > p{
    margin: 13px 0px 0px 15px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #categ > abbr > a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #categ > abbr{
    text-decoration: none;
}

#barra-lateral > #cont-barra-lateral > #categ{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #categ:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}

#barra-lateral > #cont-barra-lateral > #config > abbr > a > img{
    width: 28px;
    height: 25px;
    padding-top: 11px;
    margin-left: 11px;
}

#barra-lateral > #cont-barra-lateral > #config > abbr > a > p{
    margin: 13px 0px 0px 15px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #config > abbr > a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #config > abbr{
    text-decoration: none;
}

#barra-lateral > #cont-barra-lateral > #config{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #config:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}

.geral > #corpo-pag{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

#corpo-pag > #resto-da-página > h1{
    margin-left: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

/* Produtos/Rodapé */
.resto-da-página{
    padding-top: 35px;
    width: 100%;
}

.rodape{
    height: 750px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.rodape > .acesso-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape > .acesso-geral > h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.box-rodape{
    display: flex;
    flex-direction: row;
    height: 300px;
}

.box-rodape > .bloc{
    width: 225px;
    height: 225px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    margin: 20px;
}
.box-rodape > .bloc:hover{
    width: 225px;
    height: 225px;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    margin: 20px;
}

.box-rodape > .bloc > a{
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.box-rodape > .bloc > a > h2{
    font-family: Calibri, sans-serif;
    font-size: 19px;
}

.box-rodape > .bloc > a > img{
    padding-top: 30px;
    height: 50px;
}

.bloc > a > .text{
    width: 210px;
    text-align: center;
    font-size: 16px;
    margin: 0px;
}

.box-rodape > .bloc-{
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    margin: 20px;
}

.box-rodape > .bloc-:hover{
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    margin: 20px;
}

.box-rodape > .bloc- > h2{
    font-family: Calibri, sans-serif;
    font-size: 19px;
}

.box-rodape > .bloc- > img{
    padding-top: 20px;
    height: 50px;
}

.bloc- > .cont-pgmt > div > img{
    height: 35px;
}

.bloc- > .social-list{
    width: 250px;
    color: black;
    margin-top: 0px;
}

.bloc- > .social-list > li > img{
    height: 18px;
}

.bloc- > .social-list > li > a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

.base-rodape{
    height: 275px;
    width: 100%;
    margin-top: 40px;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-rodape > h2{
    font-family: 'Open Sans', sans-serif;
}

.base-rodape > .inst-list{
    width: 350px;
    color: black;
}

.base-rodape > .inst-list > ul > li > a{
    text-decoration: none;
}

.base-rodape > .inst-list > ul > li > a:hover{
    text-decoration: underline;
}

.base-rodape > .parte-final{
    margin-top: 45px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    color: rgb(105, 105, 105);
}


/*  */
/*  */
/*  */
/*  */
/*  */

/* Página de Perfil */

.dados{
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.dados-acesso{
    height: 300px;
}

.dados-acesso > div > h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.dados-acesso > div > h1 > img{
    height: 25px;
}

.cont-dados-acesso{
    height: 200px;
    width: 1050px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

.cont-dados-acesso > #text-dados1{
    margin-left: 45px;
    padding-top: 15px;
    height: 400px;
    width: 1050px;
}

.cont-dados-acesso > #text-dados1 > div{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.cont-dados-acesso > #text-dados1 > div > .titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0px;
}
.cont-dados-acesso > #text-dados1 > div > .cont{
    margin: 0px;
    margin-left: 5px;
}

.dados-pessoais-perfil{
    height: 450px;
    margin-top: 25px;
}

.dados-pessoais-perfil > div > h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.dados-pessoais-perfil > div > h1 > img{
    height: 25px;
}

.cont-dados-pessoais{
    height: 400px;
    width: 1050px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

.cont-dados-pessoais > #text-dados2{
    margin-left: 45px;
    padding-top: 15px;
    height: 400px;
    width: 1050px;
}

.cont-dados-pessoais > #text-dados2 > div{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.cont-dados-pessoais > #text-dados2 > div > .titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0px;
}
.cont-dados-pessoais > #text-dados2 > div > .cont{
    margin: 0px;
    margin-left: 5px;
}

.mudar-dados > button{
    border: none;
    width: 200px;
    height: 27px;
    margin-top: 30px;
    background-color: #020079;
    color: white;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.atividade-uso{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atividade-uso > h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

.atividade-uso > h1 > img{
    height: 25px;
}


.atividade-uso > .acesso{
    height: 275px;
    width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}

.atividade-uso > .acesso > .acesso-carrinho{
    margin-top: 65px;
}
.atividade-uso > .acesso > .acesso-carrinho> a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.atividade-uso > .acesso > .acesso-carrinho> a:hover{
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.atividade-uso > .acesso > .acesso-carrinho > a > img{
    height: 22px;
}

.atividade-uso > .acesso > .acesso-historico{
    margin-top: 55px;
}

.atividade-uso > .acesso > .acesso-historico> a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.atividade-uso > .acesso > .acesso-historico> a:hover{
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.atividade-uso > .acesso > .acesso-historico> a > img{
    height: 22px;
}
