@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    margin: 0;
    margin-top: 0;
    background-color: rgb(243, 243, 243);
}

/* Parte superior */
.sup{
    position: fixed;
    width: 100%;
    height: 95px;
}
 /* Cabeçalho */
.cabeçalho{
    width: 100%;
    height: 60px;
    background-color: #008cff;
    display: flex;
    flex-direction: row;
}

/* Botão de menu */
.cabeçalho > #menu{
    width: 50px;
    height: 60px;
}

.cabeçalho > #menu > img{
    width: 28px;
    height: 28px;
    padding-top: 15px;
    padding-left: 12px;
}

.cabeçalho > #menu > img:hover{
    width: 30px;
    height: 30px;
    padding-top: 14px;
    padding-left: 11px;
}

/* Logo da página */
.cabeçalho > .logo{
    padding-left: 25px;
    padding-top: 5px;
}

/* Área de pesquisa */
.cabeçalho > .pesquisa{
    padding: 16px 200px;
    display: flex;
    vertical-align: middle;
}

/* Campo de pesquisa */
.cabeçalho > .pesquisa > input{
    width: 525px;
    height: 32px;
    border-style: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

/* Botão de pesquisa */
.cabeçalho > .pesquisa > .botao{
    display: flex;
    justify-content: center;
    width: 68px;
    height: 34px;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: solid 1px rgb(168, 168, 168);
}

/* Imagem do botão de pesquisa */
.cabeçalho > .pesquisa > .botao > img{
    padding-top: 4px;
    width: 24px;
    height: 24px;
}

/* Parte geral do site */
.geral{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

/* Barra Lateral */
#barra-lateral{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50px;
    height: 100%;
    background-color: #020079;
    border-right: 1px solid #ffffff;
}

/*  */
#barra-lateral > #cont-barra-lateral > #inicio{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #inicio:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}

#barra-lateral > #cont-barra-lateral > #inicio > abbr > a > img{
    width: 25px;
    height: 25px;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: 7px;
}

#barra-lateral > #cont-barra-lateral > #inicio > abbr > a > p{
    margin: 15px 0px 0px 15px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #inicio > abbr > a{
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #inicio > abbr{
    text-decoration: none;
    display: flex;
}


#barra-lateral > #cont-barra-lateral > #perfil > abbr > a > img{
    width: 28px;
    height: 25px;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: 7px;
}

#barra-lateral > #cont-barra-lateral > #perfil > abbr > a > p{
    margin: 15px 0px 0px 15px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #perfil > abbr > a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #perfil > abbr{
    text-decoration: none;
}

#barra-lateral > #cont-barra-lateral > #perfil{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #perfil:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}

#barra-lateral > #cont-barra-lateral > #streaming > abbr > a > img{
    width: 32px;
    height: 30px;
    padding-top: 8px;
    margin-left: 7px;
}

#barra-lateral > #cont-barra-lateral > #streaming > abbr > a > p{
    margin: 15px 0px 0px 15px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #streaming > abbr > a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #streaming > abbr{
    text-decoration: none;
}

#barra-lateral > #cont-barra-lateral > #streaming{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #streaming:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}


#barra-lateral > #cont-barra-lateral > #carrinho > abbr > a > img{
    width: 28px;
    height: 25px;
    padding-top: 7px;
    margin-left: 9px;
}


#barra-lateral > #cont-barra-lateral > #carrinho > abbr > a > p{
    margin: 13px 0px 0px 18px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #carrinho > abbr > a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #carrinho > abbr{
    text-decoration: none;
}

#barra-lateral > #cont-barra-lateral > #carrinho{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #carrinho:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}

#barra-lateral > #cont-barra-lateral > #categ > abbr > a > img{
    width: 28px;
    height: 25px;
    padding-top: 7px;
    margin-left: 11px;
}

#barra-lateral > #cont-barra-lateral > #categ > abbr > a > p{
    margin: 13px 0px 0px 15px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #categ > abbr > a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #categ > abbr{
    text-decoration: none;
}

#barra-lateral > #cont-barra-lateral > #categ{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #categ:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}

#barra-lateral > #cont-barra-lateral > #config > abbr > a > img{
    width: 28px;
    height: 25px;
    padding-top: 11px;
    margin-left: 11px;
}

#barra-lateral > #cont-barra-lateral > #config > abbr > a > p{
    margin: 13px 0px 0px 15px;
    font-size: 14px;
}

#barra-lateral > #cont-barra-lateral > #config > abbr > a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

#barra-lateral > #cont-barra-lateral > #config > abbr{
    text-decoration: none;
}

#barra-lateral > #cont-barra-lateral > #config{
    width: 50px;
    height: 45px;
}

#barra-lateral > #cont-barra-lateral > #config:hover{
    width: 50px;
    height: 45px;
    background-color: #020091;
}

.geral > #corpo-pag{
    width: 94%;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    align-items: center;
}

/* Barra de navegação */
.nav{
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #020079;
}

/* Item da barra de navegação */
.nav > #item-{
    padding: 6px 30px;
    color: rgb(255, 255, 255);
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-left: 50px;
}

/* Área de categorias da barra de navegação */
.categorias{
    display: flex;
    flex-direction: row;
}

/* Categoria da barra de navegação */
.categorias > .item{
    padding: 11px 30px;
    border-left: solid 1px rgb(255, 255, 255);
    border-right: solid 1px rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12.5px;
}

/* Link da barra de navegação */
.categorias > .item > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.categorias > .item > a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

/* Produtos/Rodapé */
.resto-da-página{
    padding-top: 35px;
    width: 100%;
}

.rodape{
    height: 750px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.rodape > .acesso-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape > .acesso-geral > h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.box-rodape{
    display: flex;
    flex-direction: row;
    height: 300px;
}

.box-rodape > .bloc{
    width: 225px;
    height: 225px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    margin: 20px;
}
.box-rodape > .bloc:hover{
    width: 225px;
    height: 225px;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    margin: 20px;
}

.box-rodape > .bloc > a{
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.box-rodape > .bloc > a > h2{
    font-family: Calibri, sans-serif;
    font-size: 19px;
}

.box-rodape > .bloc > a > img{
    padding-top: 30px;
    height: 50px;
}

.bloc > a > .text{
    width: 210px;
    text-align: center;
    font-size: 16px;
    margin: 0px;
}

.box-rodape > .bloc-{
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    margin: 20px;
}

.box-rodape > .bloc-:hover{
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(209, 209, 209);
    border-radius: 5px;
    margin: 20px;
}

.box-rodape > .bloc- > h2{
    font-family: Calibri, sans-serif;
    font-size: 19px;
}

.box-rodape > .bloc- > img{
    padding-top: 20px;
    height: 50px;
}

.bloc- > .cont-pgmt > div > img{
    height: 35px;
}

.bloc- > .social-list{
    width: 250px;
    color: black;
    margin-top: 0px;
}

.bloc- > .social-list > li > img{
    height: 18px;
}

.bloc- > .social-list > li > a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

.base-rodape{
    height: 275px;
    width: 100%;
    margin-top: 40px;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-rodape > h2{
    font-family: 'Open Sans', sans-serif;
}

.base-rodape > .inst-list{
    width: 350px;
    color: black;
}

.base-rodape > .inst-list > ul > li > a{
    text-decoration: none;
}

.base-rodape > .inst-list > ul > li > a:hover{
    text-decoration: underline;
}

.base-rodape > .parte-final{
    margin-top: 45px;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    color: rgb(105, 105, 105);
}

.corpo-pag-hist{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.inicio-da-página-historico{
    height: 290px;
    width: 1000px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo-historico{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.titulo-historico > h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    color: rgb(70, 70, 70);
}

.titulo-historico > h1 > img{
    height: 25px;
}

.filtro{
    display: flex;
    flex-direction: column;
    height: 290px;
    width: 300px;
    margin-right: 80px;
    margin-left: 80px;
}
.filtro > h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.filtro > .pesquisa-historico{
    height: 25px;
    width: 300px;
    display: flex;
    flex-direction: row;
}

.pesquisa-historico > .campo-de-pesquisa{
    height: 25px;
    width: 250px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: solid 1px rgb(168, 168, 168);
    margin-top: 33px;
    margin-bottom: 0px;
}

.pesquisa-historico > .botao-pesquisa{
    width: 50px;
    height: 27px;
    display: flex;
    border: solid 1px rgb(168, 168, 168);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 33px;
}

.pesquisa-historico > .botao-pesquisa > img{
    height: 26px;
    margin-left: 11px;
}

.filtro > .opções{
    height: 29px;
    width: 300px;
    margin-top: 100px;
    border-radius: 5px;
    border-color: rgb(168, 168, 168);
    font-family: Calibri, sans-serif;
    font-size: 14px;
}

.linha-vertical{
    height: 265px;
    width: 2px;
    background-color: rgb(83, 83, 83);
    margin-top: 12px;
}

.info-hist{
    display: flex;
    flex-direction: column;
    height: 290px;
    width: 400px;
    margin-left: 67px;
}

.info-hist > .quant-prod > h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.info-hist > .quant-prod > p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

.info-hist > .categ-hist > h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.info-hist > .categ-hist > ul > li{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.resto-da-pag-hist{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.prod-list-hist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.prod-list-hist > .titulo-prod{
    width: 100%;
    display: flex;
}

.prod-list-hist > .titulo-prod > h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-left: 50px;
}


/* Caixa do produto */
.box-prod-hist{
    width: 1150px;
    height: 275px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 25px 0px;
}

/* Imagem do produto */
.box-prod-hist > .foto-prod > img{
    height: 200px;
    margin-top: 37px;
    margin-left: 20px;
}

/* Div onde estão as informações do produto */
.box-prod-hist > .info-prod{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
}

/* Div onde está o parágrafo do nome do produto */
.box-prod-hist > .info-prod > .nome{
    height: 90px;
    width: 700px;
    display: flex;
}

/* Parágrafo onde está o nome do produto */
.box-prod-hist > .info-prod > .nome > p{
    height: 20px;
    margin-top: 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

/* Div onde está o preço do produto */
.box-prod-hist > .info-prod > .preço{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 700px;
}

/* Parágrafo onde está o texto do preço */
.box-prod-hist > .info-prod > .preço > .texto{
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

/* Parágrafo onde está o valor do produto */
.box-prod-hist > .info-prod > .preço > .valor{
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    margin-left: 5px;
}

/* Div onde está a data de compra do produto */
.box-prod-hist > .info-prod > .data{
    height: 50px;
    width: 700px;
}

/* Texto da data */
.box-prod-hist > .info-prod > .data > p{
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

/* Div onde fica o botão para mais informções */
.box-prod-hist >.botao{
    height: 275px;
    width: 250px;
    margin-top: 225px;
    margin-left: 40px;
}

/* Botão para mais informações */
.box-prod-hist >.botao > button{
    height: 25px;
    width: 200px;
    border: none;
    border-radius: 4px;
    background-color: #020079;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}

.box-prod-hist >.botao > button:hover{
    height: 25px;
    width: 200px;
    border: none;
    border-radius: 4px;
    background-color: #2c2a99;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
}